.Tiles{
padding: 5%;
}
.Canvas {
  display: inline-block;
  padding-top: 5%;
  padding-bottom: 30%;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem; 
  width: 17.6rem;
  height: fit-content;
  z-index: -1;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  transition: background-color 0.1s cubic-bezier(0.3, 0, 0.5, 1);
}
.CanvasColor:hover{
  cursor: copy;
}
.Adjustor {
  position: relative;
  padding-top: 2.5rem;
  vertical-align: middle;
  z-index: 10;
  visibility: hidden;
}
.Canvas:hover .Adjustor{
  visibility: visible;
}
.Title {
  font-size: xx-large;
  text-align: center;
}
.NavBar {
  align-items: center;
  height: 5rem;
}
.tutorial, .generate {
  position: absolute;
  padding-top: 1%;
  background-color: rgb(241, 239, 239);
  box-shadow: none;
  font-size: larger;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
} 
.tutorial{
  right: 2%;
}
.generate {
  left: 2%;
}

.generate:hover, .tutorial:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.generate:active, .tutorial:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
