.Canvas {
  text-indent: 10%;
  text-align: left;
  font-size: xx-large; 
  height: 150px;
  width: 100%;
}
.Lock {
  position: absolute;
  right: 10%;
  z-index: 10;
}
.Title {
  font-size: xx-large;
  text-align: center;
}
.NavBar {
  align-items: center;
}
.tutorial {
  position: absolute;
  padding-top: 1%;
  right: 2%;
  font-size: larger;
}